* {
  box-sizing: border-box;
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: linear-gradient(rgba(104, 183, 239, 0.4), rgba(227, 250, 47, 0.4));
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  line-height: 1.5;
}

img{
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.container {
  width: 100%;
  padding-right: 10px;
  padding-left: 10px;
  margin: 0 auto
}
@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.search-form {
  display: flex;
  justify-content: center;
  gap: 20px;
}

input {
  background-color: yellow;
  border: 3px solid#188ce8;
  border-radius: 10px;
  min-width: 500px;
  min-height: 50px;
  padding-left: 16px;
  color: #188ce8;
  font-size: 20px;
}

input:focus {
  border: 3px solid yellow;
  color: yellow;
  background-color: #188ce8;
}

.btn-search, .load-more {
  min-width: 150px;
  min-height: 50px;
  background-color: #188ce8;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.88;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: yellow;
  cursor: pointer;
  border: 0;
  border-radius: 10px;
  justify-content: center;
}
.btn-search:hover,
.btn-search:focus,
.load-more:hover,
.load-more:focus {
  background-color: yellow;
  color: #188ce8;
}
.btn-search:disabled {
  background-color: darkgrey;
  color: white;
  cursor: no-drop;
}
.load-more{
  margin: 0 auto;
}

.gallery{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

.photo-card{
  width: 250px;
}

.card-info{
  padding: 10px 10px;
  display: flex;
  justify-content: space-around;
  gap: 10px;
  color: rgb(2, 0, 55);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
}

.card-item{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

